<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vinnie.pixelpicker" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoodleActivity"
            android:label="@string/title_activity_doodle" >
        </activity>
        <activity
            android:name=".LayoutGeneratorActivity"
            android:label="@string/title_activity_layout_generator" >
        </activity>
        <activity
            android:name=".ColorDropperActivity"
            android:label="@string/title_activity_color_dropper" >
        </activity>
    </application>

</manifest>
